<a href="https://colab.research.google.com/github/SOFT-cRONOS/BD-Actividad1/blob/main/BD-TP1-VENTAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd

In [ ]:
ruta_de_acceso = '/content/drive/MyDrive/Programacion/BigData/actividad2'

In [ ]:
archivos = os.listdir(ruta_de_acceso)
archivos

['Dataset_de_ventas_Marzo.csv',
 'Dataset_de_ventas_Noviembre.csv',
 'Dataset_de_ventas_Septiembre.csv',
 'Dataset_de_ventas_Enero.csv',
 'Dataset_de_ventas_Agosto.csv',
 'Dataset_de_ventas_Julio.csv',
 'Dataset_de_ventas_Octubre.csv',
 'Dataset_de_ventas_Mayo.csv',
 'Dataset_de_ventas_Junio.csv',
 'Dataset_de_ventas_Diciembre.csv',
 'Dataset_de_ventas_Febrero.csv',
 'Dataset_de_ventas_Abril.csv']

In [ ]:
dataframes = {}

In [ ]:
for archivo in archivos:
  #solo si el archivo es .csv (por si en la carpeta hay otros formatos)
  if archivo.endswith('.csv'):

    #del nombre "dataset_de_ventas_diciembre.csv splitea y deja solo el mes"
    mes = archivo.split('_')[3].split('.')[0]
    #ej: Dataset_de_ventas_Marzo.csv = Marzo

    #junta la ruta de la carpeta con el nombre de archivo
    ruta_completa = os.path.join(ruta_de_acceso, archivo)
     #ej: /content/drive/MyDrive/Programacion/BigData/actividad2/Dataset_de_ventas_Marzo.csv

    #ahora lee todos los archivos con la ruta completa
    df = pd.read_csv(ruta_completa)

    #copia el df a un df_ventas
    df_ventas = df.copy()

    # Transformo todos los valores no numericos en Nan en las columnas Cantidad Pedida y Precio Unitario
    df_ventas['Cantidad Pedida'] = pd.to_numeric(df_ventas['Cantidad Pedida'], errors='coerce')  #El errors= 'coerce' transforma los valores no numericos a NaN'
    df_ventas['Precio Unitario'] = pd.to_numeric(df_ventas['Precio Unitario'], errors='coerce')


    # Elimino todos los Nan y me quedo solo con los valores numericos
    df_ventas = df_ventas.loc[~df_ventas['Cantidad Pedida'].isna()]
    df_ventas = df_ventas.loc[~df_ventas['Precio Unitario'].isna()]
    df_ventas = df_ventas.dropna()

    # Transformo todos los valores numericos al tipo de dato int
    df_ventas['Cantidad Pedida'] = df_ventas['Cantidad Pedida'].astype(int)
    df_ventas['Precio Unitario'] = df_ventas['Precio Unitario'].astype(float)

    #carga el df en un elemento del array dataframes
    dataframes[mes] = df_ventas
    #ejemplo dataframes['Marzo'] = Dataset_de_ventas_Marzo.csv

In [ ]:
#genero un array para poder ordenar los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

#ahora extraer los datos de ventas totales por cada mes

total_ventas = []

for mes in meses:
  dataframes[mes].extraer